* {
    max-width: 1200px;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    background-color: white;
}
/* .body{
    background-color: white;
} */
.padre {
    display: flex;
    flex-flow: column nowrap;
}

.header {
    background: #000;
    display:flex;
    flex-flow: column nowrap;
}

.menu {
    background: #001253;
    display: flex;
    flex-flow:row nowrap;
    margin-bottom: 3px;
}

.logo {
    background: #E14D2A;
    flex: 1  1 auto;
    
}

.logo:hover {
    transform: scale(1.2);
    background-color: #ff5733;
    transition: transform 0.3 ease, background-color 0.3s ease;
}


.nav {
    background: #E14D2A;
    flex: 5 1 auto;
}

.social {
    background: #E14D2A;
    flex: 1 1 auto;
}

.texto-principal {
    background: #FEB139;
}

h1 {
    background: #3E6D9C;
}

.section {
    background: #000;
    display: flex;
}

.articulos {
    background: #2A0944;
    flex:2 1 auto ;
    display: flex;
    flex-flow: row wrap;
}

.article {
    background: #3E6D9C;
    flex: 1 1 40%;
     
}

.articlex {
    background: #3FA796;
    flex: 10 1 100%;

}

.navegacion {
    background: #3FA796;
    flex: 1 1 100%;
}

.aside {
    background: #F24C4C;
    flex: 1 1 auto;
}

.publi {
    background: #F7D716;
    
}

.footer {
    background: #000;
}

.pie {
    background: #FEB139;

}

@media all and (max-width: 800px){
     .padre{
        background-color: #3E6D9C;
     }
     .section{
        flex-direction: column;
     }
     .menu{
        flex-direction: column;
        height: auto;
     }
     .aside{
        display:flex;
        justify-content: center;
        flex-direction: column;
     }
    }  

@media all and (max-width: 600px) {
    .padre{
        background-color: red;
    }
    .aside{
        
        flex-direction: column;
    }
   
}
@media all and (max-width: 400px) { 
    .padre {
        background-color: #F7D716;
    }
    
    .aside{
        
        flex-direction: column;
    }
   
}
